//colors
  $dark-blue: #050921;
  $light-blue: #248efa;
  $blue: #3154d5;
  $orange: #fa9324;
  $pink: #ff3657;
  $light-green: #00958c;
  $light-grey: #f3f4f7;
  $middle-grey: #707070;
  $soft-white: #e4e4e4;
  $soft-black: #222222;
  $white: #fff;

//font size
  $font-size_normal: 14px;
  $font-size_medium: 16px;
  $font-size_big: 20px;
