.info-sidebar {
  width: 350px;
  padding: 55px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 100;
  color: $soft-black;
  background-color: $white;
  transition: transform 500ms ease;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transform: translate(360px, 0px);
  -webkit-transform: translate(360px, 0px);
  -ms-transform: translate(360px, 0px);
  -o-transform: translate(360px, 0px);
  -webkit-backface-visibility: hidden;
  & .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &_active {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
  }
}
.outer_close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.43);
}
.info-sidebar__items {
  padding: 40px 0 0;
}
.social-links {
  display: flex;
  justify-content: center;
  &__items {
    margin: 0 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: $white;
    & .img-svg {
      width: 20px;
      height: 20px;
    }
    &:hover {
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      transform: scaleX(-1);
      transition: all 0.5s ease-in-out;
    }
  }
}
.icon__vk {
  background-color: #4a76a8;
}
.icon__youtube {
  background-color: #c4302b;
}
.icon__inst {
  background:
    -webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%),
    -webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%),
    -webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%),
    -webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%),
    -webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%),
    -webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%),
    -webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)),
    -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  background:
    radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.icon__vk {

}
.support-links {
  & p {
    margin-bottom: 10px;
    & a {
      color: $soft-blue;
      position: relative;
      display: inline-flex;
      align-items: center;
      transition: all 0.5s ease-in-out;
      &[href^="mailto:"]::after {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        right: -13px;
        text-decoration: none;
        -webkit-mask-image: url("/assets/img/mail.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        background-color: $middle-grey;
      }
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: #248efa;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
      }
      &:hover {
        transition: all 0.5s ease-in-out;
        &::after {
          -webkit-transform: scaleX(-1);
          -ms-transform: scaleX(-1);
          transform: scaleX(-1);
          transition: all 0.5s ease-in-out;
        }
        &::before {
          width: 0;
        }
      }
    }
  }
}
.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .button_base {
    width: 100%;
    margin-bottom: 20px;
    &:hover {
      color: $middle-grey;
      background-color: $light-grey;
      &::after {
        padding: 20px 10px;
      }
    }
  }
}
.feedback__ask-rector {
  background-color: $orange;
}
.feedback__faq-link {
  background-color: $light-green;
}
.feedback__reviews {
  background-color:  $soft-blue;
}