.menu-second {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Montserrat", sans-serif;

  & ul {
    display: flex;
  }
}
.menu-second__item {
  list-style: none;
  position: relative;
  & > a {
    display: inline-block;
    position: relative;
    padding: 15px 0px;
    margin: 0px 20px;
    font-size: $font-size_normal;
    color: $soft-black;
    text-decoration: none;
    &:before {
      position: absolute;
      content: '';
      width: 0px;
      height: 2px;
      background: $light-blue;
      top: 70%;
      left: 50%;
      @include transition(all 0.3s linear);
      @include transform(translateX(-50%));
    }
    &:hover::before {
      width: 40px;
    }
  }
  &_dropdown > a::after {
    position: absolute;
    font-family: fontAwesome;
    content: "\f107";
    right: -15px;
    top: 50%;
    @include transform(translateY(-50%))
  }
  &_dropdown:hover > ul.menu-second__sub-menu {
      visibility: visible;
      opacity: 1;
      @include transform(rotateX(-0deg));
      transition-delay: 0s;
  }
}
.menu-second__sub-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 250px;
  position: absolute;
  z-index: 999;
  padding: 10px 0;
  background-color: $dark-blue;
  opacity: 0;
  top: 100%;
  @include transform-origin(0% 0%);
  @include transform(rotateX(-90deg));
  @include transform-style(preserve-3d);
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s, visibility 0s linear 0.3s;
  visibility: hidden;
  left: 20px;
  & li {
    & a {
      color: $soft-white;
      display: block;
      text-align: left;
      padding: 10px 25px;
      margin: 0;
      font-size: $font-size_normal;
      line-height: 18px;
      text-decoration: none;
      &:hover {
        color: $soft-blue;
      }
    }
  }
}
