//Themes

// Config
@import "config/variables";
@import "config/mixins";
//@import "config/sprite";

// Base
@import "base/base";

// Fonts
@import "base/fonts";

// Blocks
@import "blocks/date";
@import "blocks/logo";
@import "blocks/menu-second";
@import "blocks/search-info";
@import "blocks/button-base";
@import "blocks/button-close";
@import "blocks/search_popup";
@import "blocks/info-sidebar";
@import "blocks/slider-banner";

// Layout
@import "layout/header";
@import "layout/header-top";
@import "layout/footer";
@import "layout/gen-menu";
// Components

// Pages
@import "pages/index";

.active {
  visibility: visible !important;
  opacity: 1 !important;
  display: block !important;
}