header.header
    .header-top
        .header-top__item.col-2.left
            .header-top__date.date
                img.date__img(src="/assets/img/calendar.svg")
                span.date__text 18 Декабря, 2020, 04:57
            a.icon-home.header-top__item_icon-home(href="#" title='На главную')
                i.fa.fa-home(aria-hidden="true")
            a.icon-eye(href="#" title='Версия сайта для слабовидящих')
                            i.fa.fa-eye(aria-hidden="true")
        .header-top__item.col-2.right
            .nav-eios.dropdown
                 a(href="#" alt='Войти в ЭИОС' title='Войти в ЭИОС')
                     i.fa.fa-sign-in
                     span Войти в ЭИОС
                     i.fa.fa-angle-down
                 ul.header-top__menu
                     li
                        a(href="#" alt='На главную' title='Высшее образование') Высшее образование
                     li
                        a(href="#" alt='На главную' title='Дополнительное образование') Дополнительное образование
    .header-central
        nav.gen-menu.tabs
            ul.tabs__nav
                li.gen-menu__item.tabs__link Об академии
                li.gen-menu__item.tabs__link Образование
                .gen-menu__item.gen-menu__logo
                    .logo
                          a(href="#" alt='На главную' title='На главную')
                            img.logo__img(src="/assets/img/logo.png")
                            span.logo__text Российская медицинская академия <br> непрерывного профессионального образования
                li.gen-menu__item.tabs__link Наука
                li.gen-menu__item.tabs__link Клиника
            .tab__content
                .tab__pane
                    .container
                        h3.menu-title Об академии
                        .tab-content__items
                            ul.col-3
                                li
                                    a(href="#") Сведения об учредителе
                                li
                                    a(href="#") Документы
                                li
                                    a(href="#") Президент
                                li
                                    a(href="#") Руководство
                                li
                                    a(href="#") История РМАНПО
                                li
                                    a(href="#") РМАНПО сегодня
                                li
                                    a(href="#") Ученый совет
                                li
                                    a(href="#") Почетные заведующие кафедрами
                            ul.col-3
                                 li
                                     a(href="#") Структура РМАНПО
                                 li
                                     a(href="#") Международная деятельность
                                 li
                                     a(href="#") Музей РМАНПО
                                 li
                                     a(href="#") Здоровый образ жизни
                                 li
                                     a(href="#") Совет молодежи
                                 li
                                     a(href="#") Школы молодых ученых
                                 li
                                     a(href="#") Противодействие коррупции
                                 li
                                     a(href="#") Академия в СМИ
                            ul.col-3
                                li
                                    a(href="#") Сведения об образовательной организации
                                li
                                    a(href="#") Виртуальный институт новых профессий
                                li
                                    a(href="#") Учебный центр бережливых технологий
                                li
                                    a(href="#") Основыне мероприятия РМАНПО
                                li
                                    a(href="#") Центр контроля качества имунногистохимических исследований
                                li
                                    a(href="#") Журнал "Педагогикапрофесиионального медицинского образования"
                .tab__pane
                    .container
                        .tab-content__items
                            ul.col-3
                                h3.menu-title Образование
                                li
                                    a(href="#") Сведения об учредителе
                                li
                                    a(href="#") Документы
                                li
                                    a(href="#") Президент
                                li
                                    a(href="#") Руководство
                                li
                                    a(href="#") История РМАНПО
                                li
                                    a(href="#") РМАНПО сегодня
                                li
                                    a(href="#") Ученый совет
                                li
                                    a(href="#") Почетные заведующие кафедрами
                            ul.col-3
                                 h3.menu-title Дополнительное профессиональное образование
                                 li
                                     a(href="#") Структура РМАНПО
                                 li
                                     a(href="#") Международная деятельность
                                 li
                                     a(href="#") Музей РМАНПО
                                 li
                                     a(href="#") Здоровый образ жизни
                                 li
                                     a(href="#") Совет молодежи
                                 li
                                     a(href="#") Школы молодых ученых
                                 li
                                     a(href="#") Противодействие коррупции
                                 li
                                     a(href="#") Академия в СМИ
                            ul.col-3
                                h3.menu-title Высшее профессиональное образование
                                li
                                    a(href="#") Сведения об образовательной организации
                                li
                                    a(href="#") Виртуальный институт новых профессий
                                li
                                    a(href="#") Учебный центр бережливых технологий
                                li
                                    a(href="#") Основыне мероприятия РМАНПО
                                li
                                    a(href="#") Центр контроля качества имунногистохимических исследований
                                li
                                    a(href="#") Журнал "Педагогикапрофесиионального медицинского образования"
                .tab__pane.tab__pane_logo
                .tab__pane
                    .container
                        h3.menu-title Наука
                        .tab-content__items
                            ul.col-3
                                li
                                    a(href="#") НИИ молекулярной и персонализированной медицины
                                li
                                    a(href="#") Комитет по этике научных исследований
                                li
                                    a(href="#") Научная проблемная комиссия
                                li
                                    a(href="#") Основные напрaвления научной деятельности
                                li
                                    a(href="#") Конкурс
                                li
                                    a(href="#") Научно-практические мероприятия: новости
                                li
                                    a(href="#") Информация о грантах, конкурсах, ФЦП и т.п.
                            ul.col-3
                                 li
                                     a(href="#") Клинические исследования лекарственных препаратов
                                 li
                                     a(href="#") Клинические испытания медицинских изделий
                                 li
                                     a(href="#") Научно-практические мероприятия: план РМАНПО
                                 li
                                     a(href="#") Результаты интеллектуальной деятельности
                                 li
                                     a(href="#") Портал "Медицинская наука"
                                 li
                                     a(href="#") Электронные базы данных
                                 li
                                     a(href="#") Центр клинических исследований
                .tab__pane
                    .container
                         h3.menu-title Клиника
                         .tab-content__items
                             a(href="#") Клиника имени профессора Ю.Н. Касаткина ФГБОУ ДПО РМАНПО Минздрава России (официальный сайт)
                button.close

    .header-bottom
        nav.menu-second
            ul
                li.menu-second__item.menu-second__item_dropdown
                    a(href="#" alt='Поступить на обучение' title='Поступить на обучение') Поступить на обучение
                    ul.menu-second__sub-menu
                        h3.menu-title Дополнительное профессиональное образование
                        li
                            a(href="#" title='Повышение квалификации') Повышение квалификации
                        li
                            a(href="#" title='Профессиональная переподготовка') Профессиональная переподготовка
                        li
                            a(href="#" title='Календарный план циклов') Календарный план циклов
                        h3.menu-title Высшее профессиональное образование
                        li
                            a(href="#" title='Повышение квалификации') Аспирантура
                        li
                            a(href="#" title='Профессиональная переподготовка') Ординатура
                        li
                            a(href="#" title='Календарный план циклов') Приём 2020
                        li
                            a(href="#" title='Образовательные программы') Образовательные программы
                li.menu-second__item
                    a(href="#" alt='Специалисту' title='Специалисту') Специалисту
                li.menu-second__item
                    a(href="#" alt='Факультеты' title='Факультеты') Факультеты
                li.menu-second__item
                    a(href="#" alt='E-Akademy' title='E-Akademy') E-Akademy
                li.menu-second__item
                    a(href="#" alt='Ученая степень' title='Ученая степень') Ученая степень
                li.menu-second__item
                    a(href="#" alt='Филиалы' title='Филиалы') Филиалы
                li.menu-second__item
                    a(href="#" alt='Covid-19' title='Covid-19') Covid-19
                li.menu-second__item
                    a(href="#" alt='Контакты' title='Контакты') Контакты
        .search-info
            a.search_icon.search-info__item(href="#" title='Поиск')
                img.img-svg(src="/assets/img/search.svg")
            include _search_popup.pug
            a.info_icon.search-info__item(href="#" title='Обратная связь, контакты')
                i.fa.fa-question-circle-o(aria-hidden="true")

