header.header
    .header-top
        .header-top-item.col-2.left
            .header-top_date.date
                img.date__img(src="/assets/img/calendar.svg")
                span.date__text 18 Декабря, 2020, 04:57
            a.icon-home(href="#" alt='На главную' title='На главную')
                i.fa.fa-home
        .header-top-item.col-2.right
            .header-top_nav-eios.nav-eios
                 a(href="#" alt='Войти в ЭИОС' title='Войти в ЭИОС')
                     i.fa.fa-sign-in
                     span Войти в ЭИОС
                     i.fa.fa-angle-down
                 .nav-eios_menu
                    ul
                        li
                            a(href="#" alt='На главную' title='Высшее образование')
                        li
                            a(href="#" alt='На главную' title='Дополнительное образование')
    .header-central








