.outer_close
.info-sidebar
	button.close
	.info-sidbar__items.social-links
		a.icon__fb
		a.icon__ytube
		a.icon__vk
		a.icon__inst
	.info-sidebar__items.support-links
		p Call-центр: +7 (495) 680-05-99 доб. 900
		p Техническая поддержка ЭИОС: +7 (495) 680-05-99 доб. 200
			a(href="mailto:eios@rmapo.ru" target="_blank" rel="noopener noreferrer") eios@rmapo.ru
		p Техническая поддержка СДО:
			a(href="mailto:sdo@rmapo.ru" target="_blank" rel="noopener noreferrer") sdo@rmapo.ru
		p Дополнительное профессиональное образование:
			a(href="mailto:cycle@rmapo.ru" target="_blank" rel="noopener noreferrer") cycle@rmapo.ru
		p Вопросы по обучению по программам ординатуры:
			a(href="mailto:ordinatura@rmapo.ru" target="_blank" rel="noopener noreferrer") ordinatura@rmapo.ru
		p Вопросы по обучению по программам аспирантуры:
			a(href="mailto:aspirantura@rmapo.ru" target="_blank" rel="noreferrer noopener") aspirantura@rmapo.ru
	.info-sidebar__items.feedback
		p Здесь вы можете задать вопросы ректору РМАНПО, член-корреспонденту РАН, профессору Дмитрию Алексеевичу Сычеву; внести свои предложения по улучшению и развитию образовательной, научной и медицинской деятельности Академии; оставить отзыв о работе любого структурного подразделения или отдельного сотрудника. Ответы на наиболее актуальные вопросы будут даны на страницах нашего сайта, а также во время ежегодных встреч руководства Академии с сотрудниками и обучающимися.
		.feedback__form
			input.feedback__form_input
			button.feedback__form_buttom
	.info-sidebar__items.faq-link
