.slider-banner
	.banners.slider-banner__item
		.banners__item
			.banners__item_img
				img(src="/assets/img/1.jpg")
			.banners__item_text
				a(href="#") "ФармаCOVID" - информационный центр по вопросам фармакотерапии у пациентов с Covid-19
		.banners__item
			.banners__item_img
				img(src="/assets/img/2.jpg")
			.banners__item_text
				a(href="#") Центр контроля качества иммуногистохимических исследований
	.slider_wrap
		.slider
			.slider-banner__item
				.slider__content
					img.slider__content_img(src="/assets/img/Майер-лекция.jpg")
					.slider__content_text
						a(href="#")
	.banners.slider-banner__item
		.banners__item
			.banners-item__content
				.banners__item_img
					img(src="/assets/img/3.jpg")
				.banners__item_text
					a(href="#") Лента памяти Академии к 75-летию Великой победы
		.banners__item
			.banners-item__content
				.banners__item_img
					img(src="/assets/img/4.jpg")
				.banners__item_text
					a(href="#") Научно-методический журнал "Педагогика профессионального медицинского образования"