.slider-banner
	.banners.slider-banner__item
		.banners__item
		.banners__item
	.slider.slider_wrap.slider-banner__item
		.slider__content
			img.slider__content_img
			.slider__content_text
				a(href="#")
	.banners.slider-banner__item
		.banners__item
		.banners__item
