.gen-menu {
    & ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }
}

.gen-menu_item {
    position: relative;
    list-style: none;
    font-size: $font-size_medium;
    text-transform: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    flex: 1;
    text-align: center;

    & a {
        color: $soft-black;
        text-decoration: none;

        &::after {
            position: absolute;
            content: '';
            width: 40px;
            height: 2px;
            background: $light-blue;
            top: 100%;
            left: 50%;
            @include transform(translateX(-50%));
            @include transition(all 0.3s linear);
        }

        &:hover:after, &:active:after {
            text-decoration: none;
            width: 0;
        }
    }

    &__logo {
        margin-top: -70px;
        flex: 2;

        & a::after {
            background: none;
            width: 0;
        }
    }
}

