.gen-menu {
    & > ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0 100px 10px;
    }
}

.gen-menu__item {
    position: relative;
    list-style: none;
    font-size: $font-size_medium;
    text-transform: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    flex: 1;
    text-align: center;
    color: $soft-black;
    text-decoration: none;
    cursor: pointer;
    &::after {
        position: absolute;
        content: '';
        width: 40px;
        height: 2px;
        background: $light-blue;
        top: 100%;
        left: 50%;
        @include transform(translateX(-50%));
        @include transition(all 0.3s linear);
    }
    &:hover:after, &:active:after {
        text-decoration: none;
        width: 0;
    }
    & a {
        text-decoration: none;
    }
}

.gen-menu__logo {
    margin-top: -50px;
    flex: 2;
    &:after {
    background: none;
    width: 0;
    }
}

.tab__content {
    position: relative;
    & .close {
        position: absolute;
        right: 10px;
        top: 10px;
        display: none;
    }
}
.tab__pane {
    display: none;
    padding: 10px 0;
    background-color: $dark-blue;
    &.active {
        display: block;
    }
    & ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    & a {
        color: $soft-white;
        padding: 5px 0;
        line-height: 1.2;
        display: inline-block;
        &:hover {
            color: $soft-blue;
        }
    }
    & .menu-title {
        margin-bottom: 27px;
        padding: 10px 0;
    }
}
.tab-content__items {
    display: flex;
}